h1 {
    color: black;
}

.space-between-tip-buttons-and-list{
   height: 30px;
}

.content-column-not-bootstrap{
    padding-left: 5%;
    padding-right: 5%;

}

.selected-tip-percentage{
    color: red;
}

.bill-amount-input.red{
padding: red;
}